* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}

header h1 {
  color: white;
}

header img {
  width: 70px;
}

.trybewarts-login {
  display: flex;
}

#btn-login {
  cursor: pointer;
  color: white;
  background-color: purple;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 5px;
}

#email , #password {
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  margin-left: 5px;
}

.main-flex {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.divflex {
  display: flex;
}

.footer {
  background-color: rgb(50, 167, 145);
  bottom: 0;
  color: white;
  height: 50px;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  width: 100%;
}
